{
	email support@keeperfinancial.ca
}

keeperfinancial.ca {
	encode zstd gzip

	@api path /api/*
	reverse_proxy @api 127.0.0.1:8000

	reverse_proxy 127.0.0.1:3000
}

www.keeperfinancial.ca {
	redir https://keeperfinancial.ca{uri} permanent
}

apply.keeperfinancial.ca {
	encode zstd gzip
	reverse_proxy 127.0.0.1:3000
}
